<p id="notice"><%= notice %></p>

<h1>Tutorings</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Tutor</th>
      <th>Date</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutorings.each do |tutoring| %>
      <tr>
        <td><%= @students.find(tutoring.student_id).name%></td>
        <td><%= @tutors.find(tutoring.tutor_id).name%></td>
        <td><%= tutoring.date %></td>
        <td><%= tutoring.start.strftime("%I:%M %p") %></td>
        <td><%= tutoring.end.strftime("%I:%M %p") %></td>
        <td><%= link_to 'Show', tutoring %></td>
        <td><%= link_to 'Edit', edit_tutoring_path(tutoring) %></td>
        <td><%= link_to 'Destroy', tutoring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutoring', new_tutoring_path %>
